body {
    background-color: black;
    color: white;
    font-family: Verdana, sans-serif;
}

nav {
    display: grid;
    grid-auto-flow: column;
    justify-content: end;
    
}

nav a {
    color: white;
    text-decoration: none;
    padding: 1rem 2rem;
}

div {
    border: lightgray dotted 1px;
    width: 70%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}